<div id="divGetCall"> Service Running: true</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    // var WebAPIUrl = 'http://' + window.location.host + '/api/WApi/', OtherSettingJson = [];
    //var WebAPIUrl2 = 'http://' + window.location.host + '/api/ApiService/', OtherSettingJson = [];
    // var HostedURL = 'http://101.0.88.18:9011/api/WApi/';
    //$.ajax({
    //    type: "POST",
    //    url: WebAPIUrl2 + "GetStationDetail",
    //    dataType: "JSON",
    //    data: JSON.stringify({ LoginId: '1', StationCode: '101' }),
    //    async: true,
    //    contentType: "application/json; charset=utf-8",
    //    success: function (JsonSetting) {
    //        var a = JsonSetting;
    //        return false;
    //    },
    //    error: function (x, e) {
    //    }
    //});

    //$.ajax({
    //    type: "POST",
    //    url: WebAPIUrl2 + "PostTest",
    //    dataType: "JSON",
    //    data: JSON.stringify({ LoginId: '1' }),
    //    async: true,
    //    contentType: "application/json; charset=utf-8",
    //    success: function (JsonSetting) {
    //        var a = JsonSetting;
    //        return false;
    //    },
    //    error: function (x, e) {
    //    }
    //});

</script>